.products {
    background: $third-color;
    padding: 20px 0 50px 0;
    .container {
        padding: 0;
        flex-direction: column;
    }
    .container-comics {
        flex-wrap: wrap;
        li {
            width: calc(100% / 6 - 30px);
            margin: 65px 15px 0 15px;
        }
    }
    .card {
        height: 100%;
        width: 100%;
        a {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            .container-img {
                height: 170px;
                width: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .title-comics {
                color: $white;
                text-transform: uppercase;
                margin-top: 20px;
                font-size: $font-comics;
            }
        }
    }
    .container-cta {
        display: flex;
        .form-delete {
            width: 50%;
            #delete {
                background-color: rgba(255, 0, 0, 0.74);
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                display: inline-block;
                width: 75px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 16px;
                text-decoration: none;
                color: $white;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
        }
        .btn.edit {
            width: 50%;
            background-color: $primary-color;
            border: none;
            border-radius: 0;
            text-transform: uppercase;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            color: $white;
        }
    }
    .alert {
        background-color: rgba(255, 0, 0, 0.74);
        color: $white;
        font-size: 24px;
    }
}
